@media only screen and (max-width: 320px) {
  .mobile-add-border {
    border: 1px dotted black;
  }
}

@media only screen and (max-width: 481px) {
  .mobile-add-border {
    border: 1px dotted black;
  }
}

@media only screen and (max-width: 769px) {
  .mobile-add-border {
    border: 1px dotted black;
  }
}

@media only screen and (max-width: 1000px) {
  .mobile-add-border {
    border: 1px dotted black;
  }
}
/*
@media only screen and (max-width: 1025px) {
  .mobile-add-border {
  }
}

@media only screen and (max-width: 1025px) {
  .mobile-add-border {
  }
}
*/